
%div#header
  %h1 
    GA IDEAS NETWORK
  %h2
    What's on your mind Ninja?


%ul.small-block-grid-1.medium-block-grid-2.large-block-grid-3
- @ideas.each do |idea|
  %li
    = link_to "#{idea.title}", idea