%h1
  Welcome to the General Assembly Ideas Network Web Application!
%h2
  A forum for submitting, registering, reviewing, and voting on new tech ideas.
%h3
  Top trending ideas:
%ol.small-block-grid-1.medium-block-grid-2.large-block-grid-3
- @ideas.each do |idea|
  %li
    = link_to "#{idea.title}", idea
    = link_to "#{idea.get_likes.size}"

