.ideas_index {
  height: 100%;
  margin-top: 50px;
  margin-bottom: 30px;
  text-align: center;
  background-color: rgba(255,255,255,0.4);
  padding: 50px;
  font-family: "Georgia";
  p#notice {
    font-size: 18px;
    background-color: rgba(0,0,0,0.6);
  }
  h1 {
  font-family: "Comic Sans MS";
  font-size: 40px;
  }
  table {
    margin: 0 auto;
    margin-bottom: 50px;
    padding: 20px;
    border: 2px solid black;
    border-radius: 10px;
    background-color: rgba(255,255,255,0.7);
    thead {
      background-color: black;
      th {
        color: white;
        text-align: center;
        font-size: 20px;
        font-weight: 500;
      }
    }
    tbody {
      tr:nth-child(odd) {
        td {
          background-color: rgba(200,0,0,0.1);
        }
      }
      tr:nth-child(even) {
        td {
          background-color: rgba(200,0,0,0.2);
        }
      }
    }
  }
  .new-idea {
    padding: 10px;
    background-color: rgba(0,0,0,0.5);
    font-size: 20px;
    color: white;
    border-radius: 5px;
  }
}

