.top-bar {
  img.home {
    max-height: 30px; 
  }
  .top-bar-section {
    .right {
      .has-dropdown {
        a{
          font-family: Georgia;
          
          color: white;
        }
        .dropdown {
          .item {
            a{ 
              font-family: Georgia;              
              color: white;
            }
          }
        }
      }
    }
    .left {
      .has-form {
        .search-button {
          font-family: Georgia;
          font-style: italic;          
        }
      }
      .has-dropdown {
        a{
          font-family: Georgia
          
        }
      }
    }

    a {
      font-family: Georgia;
    }
    img.ga {
      max-height: 30px;
    }
    .profile-picture {
      max-height: 44px;
      border: 1px solid white; 
    }
  }
}
