#fullpage {
  width: 100%;

  #headerhome {
    margin-top: 50px;
    .homeheader {
      max-width: 100%;
      margin: 0 auto;
      background-color: rgba(0,0,0,0.1);
      border-radius: 5px;
      font-family: Impact;
      font-size: 120px;
      color: rgb(20,20,20);
      text-align: center;
    }
    .hometagline {
      margin-top: 15px;
      margin-bottom: 20px;
      text-align: center;
      font-family: Georgia;
      font-size: 36px;
    }

  }
}

.titleentry{
  width: 200px;
  font-size: larger;
}
.genreentry{
  width: 150px;
}
.briefentry{
  width: 250px;
  height: 100px;
}
.descriptionentry{
  width: 800px;
}
.firstnameentry{
  width: 150px;
  float: left;
  padding: 0px 10px 0px 10px;
}
.lastnameentry{
  width: 150px;
  float: left;
  padding: 0px 10px 0px 10px; 
}
.dobentry{
 width: 150px; 
 float: left;
 padding: 0px 10px 0px 10px; 
}
.roleentry{
  width: 200px;
  padding: 0px 10px 0px 10px;
  float: left;
}
.genderentry{
  width: 200px;
  padding: 0px 150px 0px 10px;
  float: left;
}
.nationalityentry{
  width: 200px;
  padding: 0px 10px 0px 10px;
  float: left;
}
.locationentry{
  width: 510px; 
  padding: 0px 150px 0px 10px;
  float: left;
}
.emailentry{
  width: 300px;
  padding: 0px 10px 0px 10px;
  float: left;
}
.passwordentry{
  width: 250px;
  padding: 0px 10px 0px 10px;
  float: left;
}
.confirmpasswordentry{
  width: 250px;
  padding: 0px 10px 0px 10px;
}
.logemailentry{
  width: 300px;
}
.logpasswordentry{
  width: 250px;
}
.mediaformtitle{
 width: 200px; 
}
.mediaformmediatype{
  width: 100px;
}
.editusercancel{
  float: left;
}
.passwordentry2{
  float: none;
}
.edituserimagein{
  float: none;
}

#main {
  width: 100%;
  margin-bottom: 30px;
  #mainideas {
    padding: 10px;
    .homemain {
      text-align: center;
      font-size: 40px;
      padding: 20px;
      background-color: rgba(255,255,255,0.7) !important;
    }
    .ideas-homepage {
      max-width: 260px;
      margin: auto;
      margin-top: 25px;
      padding: 15px;
      list-style-type: none;
      border: 3px solid rgba(255,255,255,0.8);
      background-color: rgba(0,0,0,0.4);
      border-radius: 5px;
      text-align: center;
      line-height: 30px;
      color: white;
        a {
          color: black;
          padding: 5px;
          font-size: 16px;
        }
        a:hover {
          color: red;
          background-color: rgba(0,0,0,0.3);
          border-radius: 3px;
        }
      img {
        margin: 2px;
        margin-top: 10px;
        max-width: 200px;
      }
    }
    .homemain{
      max-width: 960px;
      margin: 0 auto;
      background-color: rgba(255,255,255,0.3);
      padding: 10px;
      padding: 0px 0px 0px 0px;
    }
  }
}

